# Default ignored files
/../../reissuevoucher /.idea/shelf/
/../../reissuevoucher /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../reissuevoucher /.idea/httpRequests/
# Datasource local storage ignored files
/../../reissuevoucher /.idea/dataSources/
/../../reissuevoucher /.idea/dataSources.local.xml
